appnope==0.1.0
asn1crypto==0.24.0
attrs==18.1.0
autobahn==18.6.1
Automat==0.7.0
backcall==0.1.0
binance==0.3
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.2.2
cycler==0.10.0
dateparser==0.7.0
decorator==4.3.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
ipykernel==4.8.2
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.12.1
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
krakenex==2.1.0
matplotlib==2.2.2
numpy==1.14.5
pandas==0.23.3
parso==0.3.1
peewee==3.6.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-binance==0.6.9
python-dateutil==2.7.3
pytz==2018.5
pyzmq==17.0.0
regex==2018.7.11
requests==2.19.1
schedule==0.5.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
tornado==5.1
traitlets==4.3.2
Twisted==18.4.0
txaio==2.10.0
tzlocal==1.5.1
urllib3==1.23
wcwidth==0.1.7
zope.interface==4.5.0
